.App {
    text-align: center;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #282c34;
    padding: 1rem;
}

.nav-link {
    margin: 0 1rem;
    color: white;
    text-decoration: none;
}

.active-link {
    font-weight: bold;
}